body {
    background-color: rgb(192, 204, 206);
}
h1{
    color: blue;
}
h1{
    background-color: aquamarine;
    text-align: center;
}
p{
    border: 4px solid blueviolet;
    padding-inline-start: 4px;
    padding-inline-end: 4px;
}
th, td{
    border: 3px solid black;
    border-collapse: collapse;
}
th, td{
    background-color: white;
}
th{
    text-align: center;
}
caption{
    text-align: left;
}
td {
    padding: 5px;
    padding-top:0px;
}
td:nth-child(even){
    background-color: #B6B6B6;
}
tr{
    border-bottom: 1px solid black;
}

.menu{
    display: block;
    background-color: black;
    color: white;
    padding: 10px;
}

function myFunction() {
        document.getElementById("demo").style.fontSize = "25px"; 
        document.getElementById("demo").style.color = "red";
        document.getElementById("demo").style.backgroundColor = "yellow";        
      }
