*{
margin: 0%;
padding: 10px;
box-sizing: border-box;

}
fieldset{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 400px;
    background-color: rgb(202, 199, 199);
}
legend{
    font-size: 2em;
    color: black solid;
}
h1 {
    background-color: black;
    color: white;
    text-align: center;
    padding: 2%;
}
body{
    background-color: beige;
    font-family: Arial;
}

label {
    background-color: grey 2px;
    margin-left: 5px;
}
br{
    text-align: 4px;
}
input, select, #text, #email, #submit, #tel{
border: 2px solid rgb(56, 111, 230);
background-color: grey 100%;
margin-block: 6px;
}
 
div{
    text-decoration: solid blue;
    margin-block: 6px;
}
.checkbox{
    margin: auto;
}

.enviar{
    font-size: 1em;
    color: black solid;
    background-color: aquamarine;
    margin-left: auto;
    margin-right: auto;
    display: block;

}
.submit{
    font-size: large;
    color: black solid;
    background-color: blueviolet;
    display: block;
    margin-left: auto;
    margin-right: auto;
}